@font-face {
    font-family: 'FireSans';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/FiraSans-Regular.woff') format('woff');
}

html {
    background-color: #333;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
}
#PokerPlace {
    margin: auto;
}
#PokerPlace:after {
    content: '.';
    display: block;
    visibility: hidden;
    height: 0;
    width: 0;
    clear: both;
}
.card {
    background-color: #44C8C8;
    border: 10px solid #fff;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    text-align: center;

    -webkit-transition: width 0.5s, height 0.5s;
       -moz-transition: width 0.5s, height 0.5s;
        -ms-transition: width 0.5s, height 0.5s;
            transition: width 0.5s, height 0.5s;
}
.card {
    float: left;
    height: 150px;
    line-height: 150px;
    margin: 10px;
    padding: 0;
    position: relative;
    width: 100px;
    z-index: 2;
}
.displayed-card {
    position: fixed;
    top: -50%;
    left: -50%;
    z-index: 1;
    visibility: hidden;
    opacity: 0;

	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
	    -ms-transform-style: preserve-3d;
	        transform-style: preserve-3d;

    -webkit-transition: opacity 0.5s,
                        visibility 0.2s,
                        margin-left 1s,
                        top 1s,
                        left 1s,
                        margin-top 1s,
                        border-width 1s,
                        width 1s,
                        height 1s,
                        font-size 1s,
                        line-height 1s,
                        -webkit-transform 1s;
       -moz-transition: opacity 0.5s,
                        visibility 0.2s,
                        margin-left 1s,
                        top 1s,
                        left 1s,
                        margin-top 1s,
                        border-width 1s,
                        width 1s,
                        height 1s,
                        font-size 1s,
                        line-height 1s,
                        -moz-transform 1s;
        -ms-transition: opacity 0.5s,
                        visibility 0.2s,
                        margin-left 1s,
                        top 1s,
                        left 1s,
                        margin-top 1s,
                        border-width 1s,
                        width 1s,
                        height 1s,
                        font-size 1s,
                        line-height 1s,
                        -ms-transform 1s;
            transition: opacity 0.5s,
                        visibility 0.2s,
                        margin-left 1s,
                        top 1s,
                        left 1s,
                        margin-top 1s,
                        border-width 1s,
                        width 1s,
                        height 1s,
                        font-size 1s,
                        line-height 1s,
                        transform 1s;
}
.show-in-big .displayed-card {
    width: 250px;
    height: 375px;
    z-index: 3;
    left: 50%;
    line-height: 375px;
    font-size: 120px;
    visibility: visible;
    margin-left: -125px;
    opacity: 1;
}
.small-card {
    opacity: 1;
    transition: opacity 1s;
}
.show-in-big .small-card {
    opacity: 0.3;
}
.card-side {
    font-family: 'FireSans';
    bottom: 0;
    height: 100%;
    position: absolute;
    top: 0;
    vertical-align: middle;
    width: 100%;

    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
            backface-visibility: hidden;
}
.card-side.back {
    background-color: #449AC8;

    -webkit-transform: rotateY(180deg);
       -moz-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
            transform: rotateY(180deg);
}


@media (max-height: 359px) {
    .card {
        font-size: 30px;
        height: 115px;
        line-height: 115px;
        width: 70px;
    }
    .show-in-big .displayed-card {
        font-size: 100px;
        height: 275px;
        line-height: 275px;
        margin-left: -105px;
        width: 190px;
        top: 50%;
        margin-top: -133px;
    }
}
@media (min-height: 360px) {
    .card {
        font-size: 40px;
        height: 135px;
        line-height: 135px;
        width: 90px;
    }
    .show-in-big .displayed-card {
        font-size: 100px;
        line-height: 315px;
        height: 315px;
        margin-left: -125px;
        width: 230px;
        top: 50%;
        margin-top: -158px;
    }
}
@media (min-height: 760px) {
    .card {
        font-size: 60px;
        height: 210px;
        line-height: 210px;
        width: 140px;
    }
    .show-in-big .displayed-card {
        border-width: 20px;
        font-size: 180px;
        line-height: 525px;
        height: 525px;
        margin-left: -195px;
        width: 350px;
        top: 50%;
        margin-top: -263px;
    }
}
@media (max-width: 329px) and (max-height: 359px){
    #PokerPlace {
        max-width: 220px;
    }
}
@media (min-width: 330px) and (max-height: 359px){
    #PokerPlace {
        max-width: 330px;
    }
}
@media (min-width: 440px) and (max-height: 359px){
    #PokerPlace {
        max-width: 440px;
    }
}
@media (min-width: 550px) and (max-height: 359px){
    #PokerPlace {
        max-width: 550px;
    }
}
@media (min-width: 660px) and (max-height: 359px){
    #PokerPlace {
        max-width: 660px;
    }
}
@media (max-width: 389px) and (min-height: 360px){
    #PokerPlace {
        max-width: 260px;
    }
}
@media (min-width: 390px) and (min-height: 360px){
    #PokerPlace {
        max-width: 390px;
    }
}
@media (min-width: 590px) and (min-height: 360px){
    #PokerPlace {
        max-width: 520px;
    }
}
@media (min-width: 780px) and (min-height: 360px){
    #PokerPlace {
        max-width: 780px;
    }
}
@media (min-width: 910px) and (min-height: 360px){
    #PokerPlace {
        max-width: 910px;
    }
}

@media (min-height: 760px) and (max-width: 359px) {
    #PokerPlace {
        max-width: 180px;
    }
}
@media (min-height: 760px) and (min-width: 360px) {
    #PokerPlace {
        max-width: 360px;
    }
}
@media (min-height: 760px) and (min-width: 540px) {
    #PokerPlace {
        max-width: 540px;
    }
}
@media (min-height: 760px) and (min-width: 720px) {
    #PokerPlace {
        max-width: 720px;
    }
}
@media (min-height: 760px) and (min-width: 900px) {
    #PokerPlace {
        max-width: 900px;
    }
}
